// Parses a JSON encoded array
// --------------------------------------------------------------------------------
// @param [string] $source: JSON complete source
// @param [number] $pointer: current pointer
// --------------------------------------------------------------------------------
// @throw "Unexpected comma in array literal."
// @throw "Missing comma in array literal."
// @throw "Unterminated array literal."
// --------------------------------------------------------------------------------
// @return [list|false] (new pointer, parsed list)

@function _json-decode--list($source, $pointer) {
  $length: str-length($source);
  $list: ();
  $needs-comma: false;

  @if $pointer <= $length and str-slice($source, $pointer, $pointer) == "]" {
    @return ($pointer + 1, $list);
  }

  @while $pointer <= $length {
    $char: str-slice($source, $pointer, $pointer);

    @if $char == "]" {
      @if not $needs-comma and length($list) != 0 {
        @return _throw("Unexpected comma in array literal.", $pointer);
      }

      // Do it the Sass way and destruct a single item array to an element.
      @return ($pointer + 1, if(length($list) == 1, nth($list, 1), $list));
    }
    @else if $char == " " {
      $pointer: $pointer + 1;
    }
    @else if $char == "," {
      @if not $needs-comma {
        @return _throw("Unexpected comma in array literal.", $pointer);
      }
      $needs-comma: false;
      $pointer: $pointer + 1;
    }
    @else {
      @if $needs-comma {
        @return _throw("Missing comma in array literal.", $pointer);
      }
      $read: _json-decode--value($source, $pointer);
      $pointer: nth($read, 1);
      $list: append($list, nth($read, 2));
      $needs-comma: true;
    }
  }

  @return _throw("Unterminated array literal.", $pointer);
}
