// JSON.parse a an array to a list
@function _json-decode--list($source, $position) {
  $length: str-length($source);
  $list: ();
  $needs-comma: false;

  @if $position <= $length and str-slice($source, $position, $position) == "]" {
    @return ($position + 1, $list);
  }

  @while $position <= $length {
    $char: str-slice($source, $position, $position);

    @if $char == "]" {
      @if not $needs-comma {
        @return _throw("Unexpected comma in array literal.", $position);
      }

      // Do it the Sass way and destruct a single item
      // array to an element.
      // eg. ((true) (false) (false true) true) becomse (true false (false true) true)
      @if length($list) == 1{
        @return ($position + 1, nth($list, 1));
      }
      @else{
        @return ($position + 1, $list);
      }
    }

    @else if $char == " " {
      $position: $position + 1;
    }

    @else if $char == "," {
      @if not $needs-comma {
        @return _throw("Unexpected comma in array literal.", $position);
      }
      $needs-comma: false;
      $position: $position + 1;
    }

    @else {
      @if $needs-comma {
        @return _throw("Missing comma in array literal.", $position);
      }
      $read: _json-decode--value($source, $position);
      $position: nth($read, 1);
      $list: append($list, nth($read, 2));
      $needs-comma: true;
    }
  }

  @return _throw("Unterminated array literal.", $position);
}
