// JSON.parse an object to a map
@function _json-decode--map($source, $position) {
  $length: str-length($source);
  $position: _trim($source, $position); // Remove spaces before key
  $map: ();
  $needs-comma: false;

  // Deal with empty map
  @if $position <= $length and str-slice($source, $position, $position) == "}" {
    @return ($position + 1, $map);
  }

  @while $position <= $length {
    $char: str-slice($source, $position, $position);
    $position: $position + 1;

    @if $char == "}" {
      @if not $needs-comma {
        @return _throw("Unexpected comma in object literal.", $position);
      }
      @return ($position, $map);
    }

    @else if $char == "," {
      @if not $needs-comma {
        @return _throw("Unexpected comma in object literal.", $position);
      }
      $needs-comma: false;
    }

    @else if $char == '"' {
      @if $needs-comma {
        @return _throw("Missing comma in object literal.", $position);
      }

      // Read key
      $read-key:  _json-decode--string($source, $position);
      $position: nth($read-key, 1);
      $key:      nth($read-key, 2);

      // Remove colon
      $position: _consume($source, $position, ':');
      @if length($position) > 1 { @return false; } // If consume has failed

      // Read value
      $read-value: _json-decode--value($source, $position);
      $position: nth($read-value, 1);
      $value:    nth($read-value, 2);

      // Add pair to map
      $map: map-merge($map, ($key: $value));
      $needs-comma: true;
    }

    @else {
      @return _throw("Unexpected token in object literal.", $position);
    }

    $position: _trim($source, $position); // Remove spaces for next round
  }

  @return _throw("Unterminated object literal.", $position);
}
