// ----
// Sass (v3.3.0.rc.2)
// Compass (v1.0.0.alpha.17)
// ----

@function _json-decode--number($source, $pointer) {
  $pointer: $pointer - 1;
  $minus: str-slice($source, $pointer, $pointer) == '-';

  // Find the integer part
  $_: _find-integer($source, $pointer);
  $pointer: nth($_, 1);
  $result: nth($_, 2);
  @if not $result { @return $_; }

  // Find digits
  @if str-slice($source, $pointer, $pointer) == '.' {
    $_: _find-digits($source, $pointer);
    $pointer: nth($_, 1);
    $result: $result + nth($_, 2);
    @if not $result { @return $_; }
  }

  // Find exponent
  @if to-lower-case(str-slice($source, $pointer, $pointer)) == 'e' {
    $_: _find-exponent($source, $pointer);
    @if not $_ { @return false; }
    $pointer: nth($_, 1);
    $result: $result * _pow(10, nth($_, 2));
    @if not $result { @return $_; }
  }

  @return $pointer, if($minus, $result * -1, $result);
}
