// Parses a JSON encoded string
// --------------------------------------------------------------------------------
// @param [string] $source: JSON complete source
// @param [number] $pointer: current pointer
// --------------------------------------------------------------------------------
// @throw "Unterminated string."
// --------------------------------------------------------------------------------
// @return [list|false] (new pointer, parsed string / color / length)

@function _json-decode--string($source, $pointer) {
  // Check for the end of the string
  $temp: str-slice($source, $pointer);
  $end: _find-ending-quote($temp);
  $string: "";

  // If no end is found
  @if $end == 0 {
    @return _throw("Unterminated string.", $pointer);
  }

  // If string is not empty
  @else if $end > 1 {
    $string: str-slice($temp, 1, $end - 1);

    $cr: "
    ";
    $string: _strip-token($string, "\r", $cr);
    $string: _strip-token($string, "\n", $cr);
    $string: _strip-token($string, '\\\"', '"');

    // Test whether the string could be a CSS length
    $string: _length($string);

    // Test whether the string could be a CSS color
    @if type-of($string) == string {
      $string: _color($string);
    }
  }

  @return ($pointer + $end, $string);
}
