// JSON.parse a string
@function _json-decode--string($source, $pointer) {
  // Check for the end of the string
  $temp: str-slice($source, $pointer);
  $end-string: str-index($temp, '"');

  // If no end is found
  @if $end-string == 0 {
    @return _throw("Unterminated string.", $pointer);
  }
  
  $string: str-slice($temp, 1, $end-string - 1); 
  $string: _strip-special-char($string, "\r");
  $string: _strip-special-char($string, "\n");
  
  @return ($pointer + $end-string, $string);
}