// JSON.parse a string
@function _json-decode--string($source, $pointer) {
  $start: $pointer;
  $length: str-length($source);

  @while $pointer <= $length {
    $char: str-slice($source, $pointer, $pointer);
    $pointer: $pointer + 1;

    @if $char == '"' {
      $end: $pointer - 2;
      @return ($pointer, str-slice($source, $start, $end));
    }
  }

  @return _throw("Unterminated string.", $pointer);
}
