@include describe("The _json-encode--bool function") {
  @include it("should return the unchanged boolean") {
    @include should(expect(_json-encode--bool(true)), to(equal(true)));
    @include should(expect(_json-encode--bool(false)), to(equal(false)));
  }
}