// Parses a JSON encoded number to find the integer part
// --------------------------------------------------------------------------------
// @param [string] $source: JSON complete source
// @param [number] $pointer: current pointer
// --------------------------------------------------------------------------------
// @throw "Unexpected token $token."
// --------------------------------------------------------------------------------
// @return [list|false] (new pointer, parsed number)

@function _find-integer($source, $pointer) {
  $length: str-length($source);
  $numbers: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $result: 0;

  @while $pointer <= $length {
    $token: to-lower-case(str-slice($source, $pointer, $pointer));
    $index: index($numbers, $token);

    @if $token == '-' {
      // do nothing
    }
    @else if $index {
      $result: $result * 10 + ($index - 1);
    }
    @else {
      @if index('e' '.' ' ' ',' ']' '}', $token) {
        @return $pointer, $result;
      }
      @return _throw("Unexpected token `" + $token + "`.", $pointer);
    }

    $pointer: $pointer + 1;
  }

  @return $pointer, $result;
}
