// Power function
// --------------------------------------------------------------------------------
// @param [number] $x: number
// @param [number] $n: power
// --------------------------------------------------------------------------------
// @return [number] $x ^ $n

@function _pow($x, $n) {
  @if $n == 0 { @return 1; }
  $ret: 1;
  @if $n >= 0 {
    @for $i from 1 through $n {
      $ret: $ret * $x;
    }
  } @else {
    @for $i from $n to 0 {
      $ret: $ret / $x;
    }
  }

  @return $ret;
}
