// Strip special carriage return characters
// --------------------------------------------------------------------------------
// @param [string] $string: string to parse
// @param [string] $char: char to strip
// --------------------------------------------------------------------------------
// @return [string] new string

@function _strip-token($string, $token) {
  $cr: "
  "; // Carriage return

  @while str-index($string, $token) and str-index($string, $token) > 0 {
    $index: str-index($string, $token);
    $string: str-slice($string, 1, $index - 1) + $cr + str-slice($string, $index + str-length($token));
  }

  @return $string;
}
