/// JSON.stringify a value and pass it as a font-family of head element
/// @access public
/// @param {*} $value - value to be stringified
/// @param {String} $flag (all) - output driver
/// @require {function} json-encode
@mixin json-encode($value, $flag: "pseudo", $selector: "#stylesConfigJSON") {
	
  $json: json-encode($value);

  // Persistent comment
  @if $flag == "comment" {
    /*! json-encode: #{$json} */
  }
  
  // Regular property value pair
  @if $flag == "pseudo" {
    // All browsers except IE8-
    #{$selector}::before {
      // This element must be in the render tree to get it via getComputedStyle(document.body, ':before');
      content: json-encode($value);
      display: block;
      height: 0;
      overflow: hidden;
      width: 0;
    }
  }

  // Regular property value pair
  @if $flag == "head" {
    // All browsers except Opera (Presto based)
    head {
      font-family: json-encode($value);
    }
  }

  // Falsy media query
  @if $flag == "media" {
    @media -json-encode {
      json {
        json: $json;
      }
    }
  }
  
}
