// Move pointer to `$token`
@function _consume($source, $position, $token) {
  $length: str-length($source);
  $position: _trim($source, $position);

  @if $position > $length {
    @return _throw("Expected `" + $token + "` but reached end of stream.", $position);
  }

  $char: str-slice($source, $position, $position);
  $position: $position + 1;

  @if $char == $token {
    @return $position;
  }

  @else {
    @return _throw("Expected `" + $token + "` found `" + $char + "`.", $position);
  }
}
