// Parses a JSON encoded number to find the digits
// --------------------------------------------------------------------------------
// @param [string] $source: JSON complete source
// @param [number] $pointer: current pointer
// --------------------------------------------------------------------------------
// @throw "Unexpected token $token."
// --------------------------------------------------------------------------------
// @return [list|false] (new pointer, parsed number)

@function _find-digits($source, $pointer) {
  $length: str-length($source);
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers:  0   1   2   3   4   5   6   7   8   9;
  $result: null;
  $runs: 1;

  @while $pointer <= $length {
    $char: to-lower-case(str-slice($source, $pointer, $pointer));
    $index: index($strings, $char);

    @if $char == '.' {
      // @continue;
    }
    @else if $index and $index > 0 {
      $number: nth($numbers, $index);
      $runs: $runs * 10;
      $result: if($result == null, $number, $result * 10 + $number);
    }
    @else {
      @if index('e' '.' ',' ']' '}' ' ', $char) {
        @return $pointer, if($result != null, $result / $runs, $result);
      }
      @return _throw("Unexpected token `" + $char + "`.", $pointer);
    }

    $pointer: $pointer + 1;
  }

  @return $pointer, if($result != null, $result / $runs, $result);
}
