// Strip special carriage return characters
// --------------------------------------------------------------------------------
// @param [string] $string: string to parse
// @param [string] $char: char to strip
// --------------------------------------------------------------------------------
// @return [string] new string

@function _strip-special-char($string, $char) {
  $cr: "
  "; // Carriage return

  @while str-index($string, $char) and str-index($string, $char) > 0 {
    $index: str-index($string, $char);
    $string: str-slice($string, 1, $index - 1) + $cr + str-slice($string, $index + str-length($char));
  }

  @return $string;
}
