// Trim all whitespaces until character found
@function _trim($source, $position) {
  $length: str-length($source);
  @while $position <= $length {
    $char: str-slice($source, $position, $position);

    @if $char == ' ' {
      $position: $position + 1;
    }
    @else {
      @return $position;
    }
  }

  @return $position;
}
