// JSON.parse a string
// @param $json: json string to parse
// @return literal
@function json-decode($json) {
  @if $json == null {
    @return _throw("Input string may not be null", $position);
  }

  $position: _trim($json, 1);
  $value: null;

  @while $position <= str-length($json) and $value != false {
    $read: _json-decode--value($json, $position);
    @if $read == false {
      @return false;
    }

    $position: nth($read, 1);
    $value: nth($read, 2);
  }

  @return $value;
}
