/// Proof quote a value
///
/// @author Hugo Giraudel
/// @access public
///
/// @param {*} $value - value to be quoted
///
/// @return {string} - quoted value
@function _proof-quote($value) {
    $value: to-string($value);
    @return '"' + $value + '"';
}