/// Joins all elements of `$list` with `$glue`
/// @access private
/// @param {List} $list - list to cast
/// @param {String} $glue ('') - value to use as a join string
@function to-string($list, $glue: '', $is-nested: false, $recursive: false) {
    $result: '';

    @for $i from 1 through length($list) {
        $e: nth($list, $i);
        @if type-of($e) == 'list' and $recursive {
            $result: $result + to-string($e, $glue, $is-nested: true, $recursive: true);
        } @else {
            $result: if(
                $i != length($list) or $is-nested,
                $result + $e + $glue, $result + $e
            );
        }
    }

    @return $result;
}