@include describe("The _json-decode--value function") {
  @include it("should return a two element list") {
    @include should(expect(length(_json-decode--value('"test"', 1))), to(equal(2)));
    @include should(expect(length(_json-decode--value('42', 1))), to(equal(2)));
    @include should(expect(length(_json-decode--value('true', 1))), to(equal(2)));
    @include should(expect(length(_json-decode--value('[0, 1]', 1))), to(equal(2)));
    @include should(expect(length(_json-decode--value('{"a": 1]', 1))), to(equal(2)));
    @include should(expect(length(_json-decode--value('null', 1))), to(equal(2)));
  }
}