// Convert an hexadecimal number to a decimal number
// --------------------------------------------------------------------------------
// @param [string] $string: hexadecimal value
// --------------------------------------------------------------------------------
// @return [number] decimal number

@function _hex-to-dec($string){
  $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
  $string: to-lower-case($string);
  $length: str-length($string);
  
  $dec: 0;
  @for $i from 1 through $length {
    $factor: 1 + ( 15 * ( $length - $i ));
    $index: index($hex, str-slice($string, $i, $i));
    $dec: $dec + $factor * ($index - 1);
  }
  
  @return $dec;
} 