@function _hex-to-dec($string){
  $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "A" "B" "C" "D" "E" "F";
  $string: to-upper-case($string);
  $length: str-length($string);
  
  $dec: 0;
  @for $i from 1 through $length {
    $token: str-slice($string, $i, $i);
    $factor: 1 + ( 15 * ( $length - $i ));
    $index: index($hex, $token);
    @if not $index {
      @return _throw("Not allowed token `" + $token + "`.");
    } @else {
      $dec: $dec + $factor * ($index - 1);
    }
  }
  
  @return $dec;
} 