/// Encode a bool to JSON
///
/// @author Hugo Giraudel
/// @access private
///
/// @param {bool} $bool - bool to be encoded
///
/// @return {bool} - encoded bool
@function _json-encode--bool($boolean) {
    @return $boolean;
}