/// Encode a color to JSON
///
/// @author Hugo Giraudel
/// @access private
///
/// @require {function} _proof-quote
///
/// @param {color} $color - color to be encoded
///
/// @return {string} - encoded color
@function _json-encode--color($color) {
    @return _proof-quote($color);
}