/// Encode a list to JSON
///
/// @author Hugo Giraudel
/// @access private
///
/// @require {function} json-encore
///
/// @param {list} $list - list to be encoded
///
/// @return {string} - encoded list
@function _json-encode--list($list) {
    $str: '';

    @each $item in $list {
        $str: $str + ', ' + json-encode($item);
    }

    @return '[' + str-slice($str, 3) + ']';
}