/// Encode a map to JSON
///
/// @author Hugo Giraudel
/// @access private
///
/// @require {function} _proof-quote
/// @require {function} json-encode
///
/// @param {map} $map - map to be encoded
///
/// @return {string} - encoded map
@function _json-encode--map($map) {
    $str: '';

    @each $key, $value in $map {
        $str: $str + ', ' + _proof-quote($key) + ': ' + json-encode($value);
    }

    @return '{' + str-slice($str, 3) + '}';
}