/// Encode a string to JSON
///
/// @author Hugo Giraudel
/// @access private
///
/// @require {function} _proof-quote
///
/// @param {string} $string - string to be encoded
///
/// @return {string} - encoded string
@function _json-encode--string($string) {
    @return _proof-quote($string);
}