//Helper
@import "helpers/map/consume";
@import "helpers/all/value";
@import "helpers/number/pow";
@import "helpers/number/find-integer";
@import "helpers/number/find-exponent";
@import "helpers/number/find-digits";
@import "helpers/string/length";
@import "helpers/string/strip-token";
@import "helpers/string/find-ending-quote";
@import "helpers/color/get-color-value";
@import "helpers/color/color";
@import "helpers/color/hex";
@import "helpers/color/rgb";
@import "helpers/color/hsl";
@import "helpers/color/hex-to-dec";

//Types
@import "types/string";
@import "types/number";
@import "types/bool";
@import "types/list";
@import "types/map";
@import "types/null";

//API
@import "api/json";
