/// JSON.stringify a value and pass it as a font-family of head element
/// @access public
/// @param {*} $value - value to be stringified
/// @param {string} $selector ['#modulesConfigJSON'] - DOM selector to hold config
/// @require {function} json-encode
@mixin json-encode($value, $selector: '#modulesConfigJSON') {
  
    #{$selector}::before {
        content: json-encode($value);
        display: block;
        height: 0;
        overflow: hidden;
        width: 0;
    }
  
}
