/// JSON.stringify a value and pass it to the content property of a specified selector
///
/// @author Hugo Giraudel
/// @access public
///
/// @require {function} json-encode
///
/// @param {*} $value - value to be stringified
/// @param {string} $selector ['#modulesConfigJSON'] - DOM selector to hold config
@mixin json-encode($value, $selector: '#modulesConfigJSON') {
    #{$selector}::before {
        content: json-encode($value);
        display: block;
        height: 0;
        overflow: hidden;
        width: 0;
    }
}