@include describe("The _json-encode--map function") {
  $map: (a: 1, b: 2, c: 3);
  $map-nested: (a: (b: 1 2 (c: test)));
  $map-full: (a: (1 2 ( b : 1 )), b: ( #444444, false, ( a: 1, b: test ) ), c: (2 3 4 string));

  @include it("should return a JSON object string") {
    @include should(expect(_json-encode--map($map)), to(equal('{"a": 1, "b": 2, "c": 3}')));
  }

  @include it("should return a JSON object string for nested maps") {
    @include should(expect(_json-encode--map($map-nested)), to(equal('{"a": {"b": [1, 2, {"c": "test"}]}}')));
  }
  
  @include it("should interpolate sass datatypes") {
    @include should(expect(_json-encode--map($map-full)), to(equal('{"a": [1, 2, {"b": 1}], "b": ["#444444", false, {"a": 1, "b": "test"}], "c": [2, 3, 4, "string"]}')));
  }
}
